# Sistema de Gestión de Inventario - Veterinaria
**Asignatura:** Programación Orientada a Objetos  
**Institución:** Unidades Tecnológicas de Santander (UTS)

## 👥 Integrantes
* Sebastian Suarez - ssuarezs@uts.edu.co
* Juan Jose Rojas Ramírez - Jjrojasramirez@uts.edu.co
* Alexis Mendoza Olaya - alexismendoza@uts.edu.co

## 🎯 Objetivos del Proyecto
* **Principal:** Desarrollar una aplicación de escritorio para la gestión eficiente del inventario de una clínica veterinaria.
* **Específicos:** * Diseñar e implementar una base de datos en PostgreSQL.
    * Crear una interfaz gráfica funcional mediante Java Swing.
    * Aplicar conceptos de POO como encapsulamiento y herencia.

## 🚀 Justificación
Este sistema surge de la necesidad de controlar medicamentos y productos veterinarios con fechas de vencimiento y niveles críticos de stock, mejorando la operatividad de la clínica.

## 🛠️ Tecnologías Usadas
* **Lenguaje:** Java SE
* **Interfaz:** Swing
* **IDE:** NetBeans
* **Base de Datos:** PostgreSQL
